%h1 projects

- @projects.each do |project|
  .row
    %h3.col-sm-2= project.title
    .pull-right
      %a{href: project}
        %span.glyphicon.glyphicon-eye-open
      %a{href: edit_project_path(project)}
        %span.glyphicon.glyphicon-wrench
      %a{href: project_path(project), data: {method: :delete, confirm: "Are you sure you want to delete #{@project}?"}}
        %span.glyphicon.glyphicon-trash
  .clearfix
    .vid.pull-left
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "210", :src => project.embed_url, :width => "373"}
    .desc
      %p= project.description


%br

= link_to 'New Project', new_project_path
