.products

  .main_img
    margin-left: 10px
    margin-right: 5px
    width: 320px
    height: 180px
    padding: 1px
  
/*
  .list_actions 
    font-size: x-small
    text-align: right
    padding-left: 1em
/*
  .list_line_even 
    background: #e0f8f8
/*
  .list_line_odd  
    background: #f8b0f8

