.top
  %img.logo{src: "/assets/userhackable25.png"}
  %a.btn.btn-default.logo-link{href: "/"}
  .links
    %nav.navbar
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} UserHackable
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: products_path}
                Products
            %li
              %a{href: projects_path}
                Projects
            %li
              %a{href: user_omniauth_authorize_path(:google_oauth2)}
                Google

